p {
  line-height: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  text-indent: 15px;
}

a.btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: $black-color;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: $white-color;
  transition: 0.2s;  
  opacity: 1;
    
  &:focus,
  &:hover {
    background-color: $acent-color;
    color: $white-color;
    transition: 0.5s;
  }
}

body {
  padding: 0 0;

}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap");

// $color: #252526;
// $color2: #313134;
// $color3: #3e3e40;
// $color4: #4a4a4d;
// $color5: #575759;

$color: #00a2ff;
$color2: #ff6600;
$color3: #d400ff;
$color4: #00ccff;
$color5: #00ffbf;

body {
  background: $main-color;
  min-height: 100vh;

 
}
@function makelongshadow($color, $color2, $color3, $color4, $color5) {
  $val: 0px 0px $color;
  @for $i from 1 through 2 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color};
  }
  @for $i from 3 through 4 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color2};
  }
  @for $i from 5 through 6 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color3};
  }
  @for $i from 7 through 8 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color4};
  }
  @for $i from 9 through 10 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color5};
  }
  @return $val;
}

@keyframes animateShadow {
  0% {
    text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
  }
  20% {
    text-shadow: makelongshadow($color2, $color3, $color4, $color5, $color);
  }
  40% {
    text-shadow: makelongshadow($color3, $color4, $color5, $color, $color2);
  }
  60% {
    text-shadow: makelongshadow($color4, $color5, $color, $color2, $color3);
  }
  80% {
    text-shadow: makelongshadow($color5, $color, $color2, $color3, $color4);
  }
  100% {
    text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
  }
}

.title {
  padding: 40px;
  font-weight: 600;
  line-height: 0.9;
  font-size: 7em;
  @media  screen and (max-width: 960px) {
    font-size: 5em;
}
  color: $main-color;
  font-family: "Georgia";
  text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
  animation-name: animateShadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

html {
  cursor: pointer;
  
  overflow-x: hidden;


}

a {
  cursor: crosshair;
}

.content {
  padding: 5% 20%;
  
  @media  screen and (max-width: 1200px) {
    padding: 5% 15%;
}
  @media  screen and (max-width: 700px) {
    padding: 5% 5%;
}
}

main {
  &::after {
    content: attr(data-text);
    position: fixed;
    white-space: nowrap;
    font-size: 20em;
    font-family:'Courier New', Courier, monospace;
    text-transform: capitalize;
    color: $black-color;
    opacity: 0.05;
    bottom: 0;
    z-index: -1;
  }
}

.next{
  display: inline-block;
  padding: 15px;
  text-transform: capitalize;
  opacity: 0.9;
  font-size: 1.2em;

  &:hover,&:focus{
    color: $acent-color;
  }

  .arrow{
    animation: myAnim 2s ease 0s infinite normal forwards;
  }
}
@keyframes myAnim {
	0% {
		transform: translateX(0);
	}
  80% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}





*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;

  &::selection{
    background-color: $acent-color;
    color: $white-color;
  }
}

body {
  font-size: 18px;

  @media  screen and (max-width: 960px) {
    font-size: 14px;
}
}

a {
  text-decoration: none;
  color: $black-color;
  transition: 0.5s;
  position: relative;
  opacity: 0.5;

  &:hover,
  &:focus {
    color: $black-color;
    transition: 0.3s;
  }
}

a.hover {

    &::after {
      content: "";
      position: absolute;
      border: 0px solid $black-color;
      width: 0px;
      bottom: 0;
      left: 50%;
      transition: 0.5s;
    }

  &:hover,
  &:focus {
    &::after {
      content: "";
      position: absolute;
      border: 1px solid $black-color;
      width: 200%;
      bottom: 0;
      left: -50%;
      transition: 0.5s;
    }
  }


  &-short{


    &::after {
      content: "";
      position: absolute;
      border: 0px solid $black-color;
      width: 0px;
      bottom: 0;
      left: 0%;
      transition: 0.5s;
    }

    &:hover,
    &:focus {
      &::after {
        content: "";
        position: absolute;
        border: 1px solid $black-color;
        width: 100%;
        bottom: 0;
        left: -0%;
        transition: 0.5s;
      }
    }
  }
}